<div class="blog-sidebar rmt-75">
	<div class="widget about-widget wow fadeInUp delay-0-2s">
	   <img src="{{ site.author_bio.image | relative_url }}" alt="Author">
		<div class="about-widget-content">
			<h5>{{site.author_bio.name}}</h5>
			<p>"{{site.author_bio.desc}}"</p>
			<div class="social-style-three">
				<a href="#"><i class="fab fa-facebook-f"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-linkedin-in"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
			</div>
		</div>
   </div>
	
	<div class="widget blog-widget wow fadeInUp delay-0-2s">
		<h5 class="widget-title">Recent News</h5>
		<div class="widget-post-wrap">
			{% for post in site.posts limit: 3 %}
			<div class="widget-post-item">
				{% if post.image %}
				<img src="{{post.image | relative_url }}" alt="Recent Post">
				{% endif %}
				<div class="widget-post-content">
					<span class="posted-on"><i class="far fa-calendar-alt"></i> {{ post.date | date_to_string }}</span>
					<h6><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a></h6>
					<a href="{{ post.url | prepend:site.baseurl }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</div>
			{% endfor %}
			
		</div>
   </div>
	<div class="widget gallery-widget wow fadeInUp delay-0-2s">
		<h5 class="widget-title">Photo Gallery</h5>
		<div class="gallery-widget-wrap">
			<div class="widget-gallery-item">
				<img src="{{ 'assets/images/widgets/gallery1.jpg' | relative_url }}" alt="Gallery">
				<a href="{{ 'assets/images/widgets/gallery1.jpg' | relative_url }}"><i class="fab fa-instagram"></i></a>
			</div>
			<div class="widget-gallery-item">
				<img src="{{'assets/images/widgets/gallery2.jpg' | relative_url }}" alt="Gallery">
				<a href="{{'assets/images/widgets/gallery2.jpg' | relative_url }}"><i class="fab fa-instagram"></i></a>
			</div>
			<div class="widget-gallery-item">
				<img src="{{'assets/images/widgets/gallery3.jpg' | relative_url }}" alt="Gallery">
				<a href="{{'assets/images/widgets/gallery3.jpg' | relative_url }}"><i class="fab fa-instagram"></i></a>
			</div>
			<div class="widget-gallery-item">
				<img src="{{'assets/images/widgets/gallery4.jpg' | relative_url }}" alt="Gallery">
				<a href="{{'assets/images/widgets/gallery4.jpg' | relative_url }}"><i class="fab fa-instagram"></i></a>
			</div>
			<div class="widget-gallery-item">
				<img src="{{'assets/images/widgets/gallery5.jpg' | relative_url }}" alt="Gallery">
				<a href="{{'assets/images/widgets/gallery5.jpg' | relative_url }}"><i class="fab fa-instagram"></i></a>
			</div>
			<div class="widget-gallery-item">
				<img src="{{'assets/images/widgets/gallery6.jpg' | relative_url }}" alt="Gallery">
				<a href="{{'assets/images/widgets/gallery6.jpg' | relative_url }}"><i class="fab fa-instagram"></i></a>
			</div>
		</div>
   </div>
   <div class="widget tag-cloud-widget wow fadeInUp delay-0-2s">
	<h5 class="widget-title">Popular Tags</h5>
	<div class="tag-clouds">
		{% for tag in site.tags  %}
		<a href="{{ '/tags' | relative_url }}/{{ tag[0] | downcase | url_escape | strip | replace: ' ', '-' }}" rel="tag">{{ tag[0] }}</a> 
		{% endfor %}
	</div>
</div>
	<div class="widget product-add-widget wow fadeInUp delay-0-2s">
		<div class="product-add-content text-white">
			<h3>Need Beauty & Spa Products</h3>
			<p>Quis autem vel eum reprehe nderit quin voluptate</p>
			<a href="#" class="theme-btn style-two">shop now <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
   </div>
</div>