{% assign footer_menu_one = site.data.footer.footer-menu-one %}
{% assign footer_menu_two = site.data.footer.footer-menu-two %}
{% assign footer_menu_bottom = site.data.footer.footer-menu-bottom %}
{% assign contact = site.data.footer.contact %}
{% assign copy_text = site.data.footer.copy_text %}
<!-- Footer Area Start -->
<footer class="main-footer footer-three bg-black text-white pt-85">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget menu-widget">
					<h4 class="footer-title">About</h4>
					<ul>
						{% for item in footer_menu_one %}
						<li><a href="{{item.url | relative_url }}">{{ item.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget menu-widget">
					<h4 class="footer-title">Services</h4>
					<ul>
						{% for item in footer_menu_two %}
						<li><a href="{{item.url | relative_url }}">{{ item.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget contact-widget">
					<h4 class="footer-title">Contact</h4>
					<ul>
						<li>
							<i class="fas fa-map-marker-alt"></i>
							<div class="info-content">
								<h5>Location</h5>
								<p>{{ contact.location }}</p>
							</div>
						</li>
						<li>
							<i class="fas fa-phone-alt"></i>
							<div class="info-content">
								<h5>Hotline</h5>
								<p>{{ contact.phone }}</p>
							</div>
						</li>
						<li>
							<i class="far fa-comment"></i>
							<div class="info-content">
								<h5>Email</h5>
								<a href="mailto:{{contact.email}}">{{contact.email}}</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget newsletter-widget">
					<h4 class="footer-title">Newsletter</h4>
					<form action="#" method="post">
						<input
							type="email"
							name="EMAIL"
							placeholder="Enter Email"
							required
						/>
						<button value="submit">
							<i
								class="fas fa-long-arrow-alt-right"
							></i>
						</button>
					</form>
					<div class="social-style-one pt-40">
						<a href="#"
							><i class="fab fa-facebook-f"></i
						></a>
						<a href="#"
							><i class="fab fa-twitter"></i
						></a>
						<a href="#"
							><i class="fab fa-linkedin-in"></i
						></a>
						<a href="#"
							><i class="fab fa-youtube"></i
						></a>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-area pt-25 pb-15">
			<ul class="footer-menu py-5">
				{% for item in footer_menu_bottom %}
					<li><a href="{{item.url | relative_url }}">{{ item.title }}</a></li>
				{% endfor %}
				
			</ul>
			<p>{{copy_text}}</p>
		</div>
	</div>
</footer>
<!-- Footer Area End -->