<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="shortcut icon" href="{{ 'assets/images/favicon.png' | relative_url }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ 'assets/css/flaticon.min.css' | relative_url }}"/>
    <link rel="stylesheet" href="{{ 'assets/css/font-awesome-5.9.0.min.css' | relative_url }}"/>
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap-4.5.3.min.css' | relative_url }}"/>
    <link rel="stylesheet" href="{{ 'assets/css/magnific-popup.min.css' | relative_url }}"/>
    <link rel="stylesheet" href="{{ 'assets/css/nice-select.min.css' | relative_url }}"/>
    <link rel="stylesheet" href="{{ 'assets/css/animate.min.css' | relative_url }}"/>
    <link rel="stylesheet" href="{{ 'assets/css/slick.min.css' | relative_url }}"/>
    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}"/>
</head>