<div class="blog-list-item wow fadeInUp delay-0-2s">
	<div class="image">
		<img src="{{post.image | relative_url }}" alt="blog">
	</div>
	<div class="blog-list-content">
	   <ul>
		   <li><i class="far fa-calendar-alt"></i> {{post.date | date_to_string }}</li>
		   <li class="meta-tags"><i class="fas fa-tags"></i>
			{% for tag in post.tags limit:2 %}
			<a href="{{ '/tags' | relative_url }}/{{ tag | downcase | url_escape | strip | replace: ' ', '-' }}" rel="tag">{{ tag }}</a>{% if forloop.last != true %}, {% endif %} 
			{% endfor %}
			</li>
	   </ul>
		<h4><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a></h4>
		{{ post.excerpt | markdownify }}
		<a href="{{ post.url | prepend:site.baseurl }}" class="theme-btn style-seven">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
	</div>
</div>