<div class="next-prev-service mt-60">
	<div class="nps-item prev-item wow fadeInLeft delay-0-2s">
		<a href="{{ '/service-details' | relative_url }}"><img src="{{ 'assets/images/services/prev.jpg' | relative_url }}" alt="Servce"></a>
		<div class="nps-content">
			<h6><a href="{{ '/service-details' | relative_url }}">Spa & Foot Massage</a></h6>
			<span>Beauty Treatments</span>
			<a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
	</div>
	<a href="services.html" class="all-services">
		<i class="fas fa-th-large"></i>
	</a>
	<div class="nps-item next-item wow fadeInRight delay-0-2s">
		<div class="nps-content">
			<h6><a href="{{ '/service-details' | relative_url }}">Hair & Nail Polish</a></h6>
			<span>Beauty Treatments</span>
			<a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
		<a href="{{ '/service-details' | relative_url }}"><img src="{{ 'assets/images/services/next.jpg' | relative_url }}" alt="Servce"></a>
	</div>
</div>