<script src="{{ 'assets/js/jquery-3.6.0.min.js' | relative_url }}"></script>
<!--====== Bootstrap ======-->
<script src="{{ 'assets/js/bootstrap.min.js' | relative_url }}"></script>
<!--====== Appear Js ======-->
<script src="{{ 'assets/js/appear.min.js' | relative_url }}"></script>
<!--====== Slick ======-->
<script src="{{ 'assets/js/slick.min.js' | relative_url }}"></script>
<!--====== Magnific Popup ======-->
<script src="{{ 'assets/js/jquery.magnific-popup.min.js' | relative_url }}"></script>
<!--====== Nice Select ======-->
<script src="{{ 'assets/js/jquery.nice-select.min.js' | relative_url }}"></script>
<!--====== Image Loader ======-->
<script src="{{ 'assets/js/imagesloaded.pkgd.min.js' | relative_url }}"></script>
<!--====== Skill bar ======-->
<script src="{{ 'assets/js/skill.bars.jquery.min.js' | relative_url }}"></script>
<!--====== Isotope ======-->
<script src="{{ 'assets/js/isotope.pkgd.min.js' | relative_url }}"></script>
<!--  WOW Animation -->
<script src="{{ 'assets/js/wow.min.js' | relative_url }}"></script>
<!-- Custom script -->
<script src="{{ 'assets/js/script.js' | relative_url }}"></script>
