<!-- Portfolio Section Start -->
<section class="portfolio-section pt-140 rpt-90 pb-120 rpb-80">
	<div class="container">
		{% include section-title.html bg-text="Case Study" sub-title="Photo Gallery" title="Latest Working Projects" center="true" %}
		<ul class="portfolio-filter mb-70">
			<li data-filter="*" class="current">Show All</li>
			<li data-filter=".beauty">Beauty</li>
			<li data-filter=".massage">Massage</li>
			<li data-filter=".spa-foot">Spa & Foot</li>
			<li data-filter=".hair-colors">Hair Colors</li>
			<li data-filter=".treatments">Treatments</li>
		</ul>
		<div class="row portfolio-active">
		   <div class="col-xl-3 col-lg-4 col-sm-6 item massage treatments">
			   <div class="portfolio-item wow fadeInUp delay-0-2s">
				   <img src="{{ 'assets/images/projects/masonry2.jpg' | relative_url }}" alt="Protfolio">
				   <div class="portfolio-content">
					   <h6><a href="{{ '/portfolio-details' | relative_url }}">Beauty & Spa Cream</a></h6>
					   <b>Products Salon</b>
				   </div>
			   </div>
		   </div>
		   <div class="col-xl-3 col-lg-4 col-sm-6 item beauty spa-foot">
			   <div class="portfolio-item wow fadeInUp delay-0-4s">
				   <img src="{{ 'assets/images/projects/masonry3.jpg' | relative_url }}" alt="Protfolio">
				   <div class="portfolio-content">
					   <h6><a href="{{ '/portfolio-details' | relative_url }}">Beauty & Spa Cream</a></h6>
					   <b>Products Salon</b>
				   </div>
			   </div>
		   </div>
		   <div class="col-xl-6 col-lg-8 item treatments">
			   <div class="portfolio-item wow fadeInUp delay-0-6s">
				   <img src="{{ 'assets/images/projects/masonry1.jpg' | relative_url }}" alt="Protfolio">
				   <div class="portfolio-content">
					   <h6><a href="{{ '/portfolio-details' | relative_url }}">Beauty & Spa Cream</a></h6>
					   <b>Products Salon</b>
				   </div>
			   </div>
		   </div>
		   <div class="col-xl-6 col-lg-8 item spa-foot hair-colors">
			   <div class="portfolio-item wow fadeInUp delay-0-2s">
				   <img src="{{ 'assets/images/projects/masonry9.jpg' | relative_url }}" alt="Protfolio">
				   <div class="portfolio-content">
					   <h6><a href="{{ '/portfolio-details' | relative_url }}">Beauty & Spa Cream</a></h6>
					   <b>Products Salon</b>
				   </div>
			   </div>
		   </div>
		   <div class="col-xl-3 col-lg-4 col-sm-6 item beauty hair-colors">
			   <div class="portfolio-item wow fadeInUp delay-0-4s">
				   <img src="{{ 'assets/images/projects/masonry7.jpg' | relative_url }}" alt="Protfolio">
				   <div class="portfolio-content">
					   <h6><a href="{{ '/portfolio-details' | relative_url }}">Beauty & Spa Cream</a></h6>
					   <b>Products Salon</b>
				   </div>
			   </div>
		   </div>
		   <div class="col-xl-3 col-lg-4 col-sm-6 item massage">
			   <div class="portfolio-item wow fadeInUp delay-0-6s">
				   <img src="{{ 'assets/images/projects/masonry8.jpg' | relative_url }}" alt="Protfolio">
				   <div class="portfolio-content">
					   <h6><a href="{{ '/portfolio-details' | relative_url }}">Beauty & Spa Cream</a></h6>
					   <b>Products Salon</b>
				   </div>
			   </div>
		   </div>
		   <div class="col-xl-3 col-lg-4 col-sm-6 item beauty">
			   <div class="portfolio-item wow fadeInUp delay-0-2s">
				   <img src="{{ 'assets/images/projects/masonry4.jpg' | relative_url }}" alt="Protfolio">
				   <div class="portfolio-content">
					   <h6><a href="{{ '/portfolio-details' | relative_url }}">Beauty & Spa Cream</a></h6>
					   <b>Products Salon</b>
				   </div>
			   </div>
		   </div>
		   <div class="col-xl-3 col-lg-4 col-sm-6 item spa-foot treatments">
			   <div class="portfolio-item wow fadeInUp delay-0-4s">
				   <img src="{{ 'assets/images/projects/masonry6.jpg' | relative_url }}" alt="Protfolio">
				   <div class="portfolio-content">
					   <h6><a href="{{ '/portfolio-details' | relative_url }}">Beauty & Spa Cream</a></h6>
					   <b>Products Salon</b>
				   </div>
			   </div>
		   </div>
		   <div class="col-xl-6 col-lg-8 item massage">
			   <div class="portfolio-item wow fadeInUp delay-0-6s">
				   <img src="{{ 'assets/images/projects/masonry5.jpg' | relative_url }}" alt="Protfolio">
				   <div class="portfolio-content">
					   <h6><a href="{{ '/portfolio-details' | relative_url }}">Beauty & Spa Cream</a></h6>
					   <b>Products Salon</b>
				   </div>
			   </div>
		   </div>
		</div>
	</div>
</section>
<!-- Portfolio Section End -->