<!-- Contact Information Start -->
<section class="contact-info-section pt-150 rpt-100 pb-120 rpb-70">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-sm-6">
				<div class="contact-info-item wow fadeInUp delay-0-2s">
					<i class="fas fa-map-marker-alt"></i>
					<h4>Location</h4>
					<p>55 Main Street, 2nd Block, New York City</p>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="contact-info-item wow fadeInUp delay-0-4s">
					<i class="fa fa-envelope-open-text"></i>
					<h4>Email Us</h4>
					<p>hotlineinfo@gmail.com <br>www.beautyinfo.net</p>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="contact-info-item wow fadeInUp delay-0-6s">
					<i class="fa fa-phone-alt"></i>
					<h4>Hotline</h4>
					<p>Call : <a href="callto:+012(345)7899">+012 (345) 7899</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Contact Information End -->