<!-- Category Section Start -->
<section class="category-section">
	<div class="category-item bg-butter wow fadeInUp delay-0-2s">
		<i class="flaticon-nail"></i>
		<div class="category-title">
			<span class="bg-text">Category</span>
			<h4><a href="{{ '/service-details' | relative_url }}">Nail Polish</a></h4>
		</div>
		<p>Quis autem velum reprender eoluptate velit esse</p>
		<a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
		<div class="for-border"></div>
	</div>
	<div
		class="category-item bg-light-gray wow fadeInUp delay-0-4s"
	>
		<i class="flaticon-eyebrow"></i>
		<div class="category-title">
			<span class="bg-text">Category</span>
			<h4><a href="{{ '/service-details' | relative_url }}">Brow Polish</a></h4>
		</div>
		<p>Quis autem velum reprender eoluptate velit esse</p>
		<a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
		<div class="for-border"></div>
	</div>
	<div class="category-item bg-butter wow fadeInUp delay-0-6s">
		<i class="flaticon-hairdresser"></i>
		<div class="category-title">
			<span class="bg-text">Category</span>
			<h4><a href="{{ '/service-details' | relative_url }}">Hair Dresser</a></h4>
		</div>
		<p>Quis autem velum reprender eoluptate velit esse</p>
		<a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
		<div class="for-border"></div>
	</div>
	<div
		class="category-item bg-light-gray wow fadeInUp delay-0-8s"
	>
		<i class="flaticon-pedicure"></i>
		<div class="category-title">
			<span class="bg-text">Category</span>
			<h4><a href="{{ '/service-details' | relative_url }}">Foot Massage</a></h4>
		</div>
		<p>Quis autem velum reprender eoluptate velit esse</p>
		<a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
		<div class="for-border"></div>
	</div>
	<div class="category-item bg-butter wow fadeInUp delay-1-0s">
		<i class="flaticon-cosmetics"></i>
		<div class="category-title">
			<span class="bg-text">Category</span>
			<h4><a href="{{ '/service-details' | relative_url }}">Cosmetics</a></h4>
		</div>
		<p>Quis autem velum reprender eoluptate velit esse</p>
		<a href="{{ '/service-details' | relative_url }}" class="read-more">read more<i class="fas fa-long-arrow-alt-right"></i></a>
		<div class="for-border"></div>
	</div>
</section>
<!-- Category Section End -->