<!-- Services Section Start -->
<section class="services-page pt-140 rpt-90 pb-90 rpb-40">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="section-title text-center mb-65">
					<img class="bg-image" src="{{ 'assets/images/shapes/service-bg.png' | relative_url }}" alt="Leaf">
					<span class="sub-title">What We Offer</span>
					<h3>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</h3>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-sm-6">
				<div class="service-item wow fadeInUp delay-0-2s">
					<img src="{{ 'assets/images/services/service-1.jpg' | relative_url }}" alt="Service">
					<div class="service-content">
						<i class="flaticon-cut"></i>
						<h5><a href="{{ '/service-details' | relative_url }}">Hair Cutting</a></h5>
						<a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="service-item wow fadeInUp delay-0-4s">
					<img src="{{ 'assets/images/services/service-2.jpg' | relative_url }}" alt="Service">
					<div class="service-content">
						<i class="flaticon-nail"></i>
						<h5><a href="{{ '/service-details' | relative_url }}">Nail Polish</a></h5>
						<a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="service-item wow fadeInUp delay-0-6s">
					<img src="{{ 'assets/images/services/service-3.jpg' | relative_url }}" alt="Service">
					<div class="service-content">
						<i class="flaticon-massage-1"></i>
						<h5><a href="{{ '/service-details' | relative_url }}">Body Massage</a></h5>
						<a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="service-item wow fadeInUp delay-0-8s">
					<img src="{{ 'assets/images/services/service-4.jpg' | relative_url }}" alt="Service">
					<div class="service-content">
						<i class="flaticon-relax"></i>
						<h5><a href="{{ '/service-details' | relative_url }}">Spa & Foot</a></h5>
						<a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="service-item wow fadeInUp delay-1-0s">
					<img src="{{ 'assets/images/services/service-5.jpg' | relative_url }}" alt="Service">
					<div class="service-content">
						<i class="flaticon-beauty-treatment-1"></i>
						<h5><a href="{{ '/service-details' | relative_url }}">Hair Colors</a></h5>
						<a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="service-item wow fadeInUp delay-1-2s">
					<img src="{{ 'assets/images/services/service-6.jpg' | relative_url }}" alt="Service">
					<div class="service-content">
						<i class="flaticon-liner"></i>
						<h5><a href="{{ '/service-details' | relative_url }}">Brow Polish</a></h5>
						<a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Services Section End -->