<!-- About Section Start -->
<section class="about-section pt-150 rpt-100">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="about-left rmb-55 wow fadeInLeft delay-0-2s">
					<img src="{{ 'assets/images/about/about-left.jpg' | relative_url }}" alt="About"/>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-content wow fadeInRight delay-0-2s">
					{% include section-title.html bg-text="about" sub-title=">Who We Are" title="Quality & Natural Beauty Salon" %}
					
					<p>
						Sed ut persiciatis unde omnis iste natus
						error sit voluptate maccusantium doloremque
						laudantium, totam rem aperiam eaque ipsa
						quae ab illo inventore veritatis et quasi
						architecto beatae vitae dicta sunt explic
						aboemo enim ipsa
					</p>
					<ul class="list-style-one pt-20 pb-25">
						<li>Natural Beauty Salon</li>
						<li>Professional Women Spa Service</li>
						<li>Experience Hair Treatments</li>
					</ul>
					<a href="{{ '/about-us' | relative_url }}" class="theme-btn style-two">read more<i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- About Section End -->