<!-- Products Section Start -->
<section class="products-section text-center pt-140 rpt-90 pb-115 rpb-65">
	<div class="container">
	   <div class="row justify-content-center">
		   <div class="col-xl-8 col-lg-9 col-md-10">
			{% include section-title.html bg-text="products" sub-title="popular product" title="Visit Our Shop to collect beauty products" %}
		   </div>
	   </div>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="product-item wow fadeInUp delay-0-2s">
					<div class="image">
						<a href="#"><img src="{{ 'assets/images/products/product-1.jpg' | relative_url }}" alt="Product"></a>
						<div class="rating">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
					</div>
					<h5><a href="#">Face Cream Winter</a></h5>
					<span class="price">Price $253.59</span>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="product-item wow fadeInUp delay-0-4s">
					<div class="image">
						<a href="#"><img src="{{ 'assets/images/products/product-2.jpg' | relative_url }}" alt="Product"></a>
						<div class="rating">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
					</div>
					<h5><a href="#">Organic Hair Oil</a></h5>
					<span class="price">Price $253.59</span>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="product-item wow fadeInUp delay-0-6s">
					<div class="image">
						<a href="#"><img src="{{ 'assets/images/products/product-3.jpg' | relative_url }}" alt="Product"></a>
						<div class="rating">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
					</div>
					<h5><a href="#">Natural Hair Colors</a></h5>
					<span class="price">Price $253.59</span>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="product-item wow fadeInUp delay-0-8s">
					<div class="image">
						<a href="#"><img src="{{ 'assets/images/products/product-4.jpg' | relative_url }}" alt="Product"></a>
						<div class="rating">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
					</div>
					<h5><a href="#">Summer Face Cream</a></h5>
					<span class="price">Price $253.59</span>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Products Section End -->