<!-- Features Section Start -->
<section class="features-section rel z-1 pt-150 rpt-100">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-3 align-self-end">
				<div class="features-image left-image wow fadeInDown delay-0-2s">
					<img src="{{ 'assets/images/services/feature-left.jpg' | relative_url }}" alt="Feature"/>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="features-section-content">
					<div class="section-title text-center mb-15">
						<span class="bg-text">Features</span>
						<span class="sub-title">What We Do</span>
						<h2>We provide Natural Treatments</h2>
					</div>
					<div class="features-item-wrap pb-150">
						<div class="feature-item wow fadeInUp delay-0-2s">
							<div class="icon">
								<i class="flaticon-laser"></i>
							</div>
							<div class="feature-content">
								<h4> <a href="{{ '/service-details' | relative_url }}">Clinical Treatments</a></h4>
								<span>Organic Modern Treatments</span>
							</div>
						</div>
						<div class="feature-item wow fadeInUp delay-0-4s">
							<div class="icon">
								<i class="flaticon-relax"></i>
							</div>
							<div class="feature-content">
								<h4><a href="{{ '/service-details' | relative_url }}">Toxins Free</a></h4>
								<span>Organic Modern Treatments</span>
							</div>
						</div>
						<div class="feature-item wow fadeInUp delay-0-6s">
							<div class="icon">
								<i class="flaticon-spa"></i>
							</div>
							<div class="feature-content">
								<h4><a href="{{ '/service-details' | relative_url }}">Organic Products</a></h4>
								<span>Organic Modern Treatments</span>
							</div>
						</div>
						<div class="feature-item wow fadeInUp delay-0-8s">
							<div class="icon">
								<i class="flaticon-hand-cream"></i>
							</div>
							<div class="feature-content">
								<h4><a href="{{ '/service-details' | relative_url }}">No Side Affects</a></h4>
								<span>Organic Modern Treatments</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3">
				<div class="features-image right-image wow fadeInUp delay-0-2s">
					<img src="{{ 'assets/images/services/feature-right.jpg' | relative_url }}" alt="Feature"/>
				</div>
			</div>
		</div>
	</div>
	<div class="reatures-leaf">
		<img src="{{ 'assets/images/shapes/feature-leaf.png' | relative_url }}" alt="Leaf"/>
	</div>
</section>
<!-- Features Section End -->