{% assign bg-image = "assets/images/video/service-page-video.jpg"%}
{% assign youtube-video = "https://www.youtube.com/watch?v=9Y7ma241N8k"%}
{% if include.bg-image %}
	{% assign bg-image = include.bg-image %}
{%endif%}
{% if include.youtube-video %}
	{% assign youtube-video = include.youtube-video %}
{%endif%}
<!-- Video Section Start -->
<div class="video-section-two wow fadeInUp delay-0-2s" style="background-image: url({{ bg-image | relative_url }});">
	<a href="{{ youtube-video }}" class="mfp-iframe video-play"><i class="fas fa-play"></i></a>
</div>
<!-- Video Section End -->