<!-- Feedback Section Start -->
<div class="feedback-section rel z-1 bg-butter">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-xl-6">
				<div class="feedback-left-image bgs-cover h-100 wow fadeInLeft delay-0-2s" style="background-image: url({{ '/assets/images/testimonials/testimonial-left.jpg' | relative_url }});"></div>
			</div>
			<div class="col-xl-6">
				<div class="feedback-wrap rel my-145 rm-100 text-center wow fadeInRight delay-0-2s">
					<span class="bg-text">Feedback</span>
					<div class="feedback-item-wrap mb-35">
						<div class="feedback-content-item">
							Ut enim ad minima veniam,<span class="font-weight-bold">quis nostrum</span> exercitationem ullam corporis suscipit
							<span class="font-weight-normal">laboriosam nisi ut aliquid exea commodi consequatur</span>
						</div>
						<div class="feedback-content-item">
							Ut enim ad minima veniam,<span class="font-weight-bold">quis nostrum</span> exercitationem ullam <span class="font-weight-normal">laboriosam nisi ut aliquid exea commodi consequatur corporis suscipit</span>
						</div>
						<div class="feedback-content-item">
							Ut enim ad minima veniam,<span class="font-weight-bold">quis nostrum</span>exercitationem ullam corporis suscipit
							<span class="font-weight-normal">laboriosam nisi ut aliquid exea commodi consequatur</span>
						</div>
						<div class="feedback-content-item">
							Ut enim ad minima veniam,
							<span class="font-weight-bold">quis nostrum</span>exercitationem ullam
							<span class="font-weight-normal">laboriosam nisi ut aliquid exea commodi consequatur corporis suscipit</span>
						</div>
					</div>
					<div class="feedback-logo-wrap">
						<img src="{{ '/assets/images/testimonials/logo-1.png' | relative_url }}" alt="Feedback"/>
						<img src="{{ '/assets/images/testimonials/logo-2.png' | relative_url }}" alt="Feedback"/>
						<img src="{{ '/assets/images/testimonials/logo-3.png' | relative_url }}" alt="Feedback"/>
						<img src="{{ '/assets/images/testimonials/logo-1.png' | relative_url }}" alt="Feedback"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feedback-leaf">
		<img src="{{ 'assets/images/shapes/feedback-leaf.png' | relative_url }}" alt="Feedback Leaf"/>
	</div>
</div>
<!-- Feedback Section End -->