<!-- Team Section Start -->
<section class="team-section rel z-1 py-150 rpy-100">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="team-left rmb-55 wow fadeInLeft delay-0-2s">
					<img src="{{ 'assets/images/teams/team-left.jpg' | relative_url }}" alt="Team Section">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="team-section-content wow fadeInRight delay-0-2s">
					{% include section-title.html bg-text="Skills" sub-title="Our Best Skills" title="We’ve 58+ Professional Team Members" %}
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperia eaque ipsa quae abillo inventore veritatis et quase</p>
					<div class="skillbar-wrap">
						<div class="skillbar" data-percent="87">
							<h6 class="skillbar-title">Quality Services</h6>
							<span class="skillbar-bar"></span>
							<span class="skill-bar-percent" style="left: 87%"></span>
						</div>
						<div class="skillbar" data-percent="93">
							<h6 class="skillbar-title">Best Products</h6>
							<span class="skillbar-bar"></span>
							<span class="skill-bar-percent" style="left: 93%"></span>
						</div>
						<div class="skillbar" data-percent="76">
							<h6 class="skillbar-title">Experience Team</h6>
							<span class="skillbar-bar"></span>
							<span class="skill-bar-percent" style="left: 76%"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Team Section End -->