<!-- Testimonial Three Area Start -->
<section class="testimonial-three-area rel z-1 pt-140 rpt-90 pb-150 rpb-100">
	<div class="container">
		<div class="section-title text-center mb-65">
			<span class="bg-text">Feedback</span>
			<span class="sub-title">Customer Testimonials</span>
			<h2>Valuable Clients Feedback</h2>
		</div>
		<div class="testimonial-tab wow fadeInUp delay-0-2s">
			<nav class="nav">
				<a class="nav-link" data-toggle="tab" href="#testimonial-tab1"><img src="{{ 'assets/images/testimonials/client1.png' | relative_url }}" alt="Client"></a>
				<a class="nav-link" data-toggle="tab" href="#testimonial-tab2"><img src="{{ 'assets/images/testimonials/client2.png' | relative_url }}" alt="Client"></a>
				<a class="nav-link active" data-toggle="tab" href="#testimonial-tab3"><img src="{{ 'assets/images/testimonials/client3.png' | relative_url }}" alt="Client"></a>
				<a class="nav-link" data-toggle="tab" href="#testimonial-tab4"><img src="{{ 'assets/images/testimonials/client4.png' | relative_url }}" alt="Client"></a>
				<a class="nav-link" data-toggle="tab" href="#testimonial-tab5"><img src="{{ 'assets/images/testimonials/client5.png' | relative_url }}" alt="Client"></a>
				<a class="nav-link" data-toggle="tab" href="#testimonial-tab6"><img src="{{ 'assets/images/testimonials/client6.png' | relative_url }}" alt="Client"></a>
			</nav>
			<div class="tab-content wow fadeInUp delay-0-4s">
				<div class="tab-pane fade" id="testimonial-tab1">
					<div class="feedback-content-item">
						Ut enim ad minima, <span class="font-weight-bold">quis nostrum</span> exercitationem ullam corporis  veniam suscipit <span class="font-weight-normal">laboriosam nisi ut aliquid ex ea commodi consequatur</span>
					</div>
					<div class="author-description">
						<img src="{{ 'assets/images/testimonials/author-3.jpg' | relative_url }}" alt="Author">
						<div class="description">
							<h5>Michael L. Morre</h5>
							<span>Joniour Manager</span>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="testimonial-tab2">
					<div class="feedback-content-item">
						Ut enim ad minima veniam, <span class="font-weight-bold">quis nostrum</span> exercitationem ullam corporis commodi consequatur suscipit <span class="font-weight-normal">laboriosam nisi ut aliquid ex ea</span>
					</div>
					<div class="author-description">
						<img src="{{ 'assets/images/testimonials/author-2.jpg' | relative_url }}" alt="Author">
						<div class="description">
							<h5>Michael L. Morre</h5>
							<span>Joniour Manager</span>
						</div>
					</div>
				</div>
				<div class="tab-pane fade show active" id="testimonial-tab3">
					<div class="feedback-content-item">
						Ut enim ad minima veniam, <span class="font-weight-bold">quis nostrum</span> exercitationem ullam corporis suscipit <span class="font-weight-normal">laboriosam nisi ut aliquid ex ea commodi consequatur</span>
					</div>
					<div class="author-description">
						<img src="{{ 'assets/images/testimonials/author-1.jpg' | relative_url }}" alt="Author">
						<div class="description">
							<h5>Michael L. Morre</h5>
							<span>Joniour Manager</span>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="testimonial-tab4">
					<div class="feedback-content-item">
						Ut enim ad minima veniam, <span class="font-weight-bold">quis nostrum exercitationem ullam corporis suscipit </span> <span class="font-weight-normal">laboriosam nisi ut aliquid ex ea commodi consequatur</span>
					</div>
					<div class="author-description">
						<img src="{{ 'assets/images/testimonials/author-2.jpg' | relative_url }}" alt="Author">
						<div class="description">
							<h5>Michael L. Morre</h5>
							<span>Joniour Manager</span>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="testimonial-tab5">
					<div class="feedback-content-item">
						Ut enim ad <span class="font-weight-bold"> minima veniam quis nostrum</span> exercitationem ullam corporis suscipit <span class="font-weight-normal">laboriosam nisi ut aliquid ex ea commodi consequatur</span>
					</div>
					<div class="author-description">
						<img src="{{ 'assets/images/testimonials/author-1.jpg' | relative_url }}" alt="Author">
						<div class="description">
							<h5>Michael L. Morre</h5>
							<span>Joniour Manager</span>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="testimonial-tab6">
					<div class="feedback-content-item">
						Ut enim ad minima veniam, aliquid ex ea commodi consequatur <span class="font-weight-bold">quis nostrum</span> exercitationem ullam corporis suscipit <span class="font-weight-normal">laboriosam nisi ut</span>
					</div>
					<div class="author-description">
						<img src="{{ 'assets/images/testimonials/author-3.jpg' | relative_url }}" alt="Author">
						<div class="description">
							<h5>Michael L. Morre</h5>
							<span>Joniour Manager</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img src="{{ 'assets/images/shapes/service-circle.png' | relative_url }}" alt="Shape" class="testimonial-circle">
</section>
<!-- Testimonial Three Area End -->