<!-- Contact Section Start -->
<section class="team-page-contact overlay bgs-cover rel py-150 rpt-90 rpb-100" style="background-image: url({{ 'assets/images/contacts/team-page.jpg' | relative_url }});">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="team-contact-left rmb-55 wow fadeInUp delay-0-2s">
					<div class="section-title text-white mb-25">
						<span class="sub-title">Make Appointment</span>
						<h2>Get Hair Treatment Booking Seat</h2>
					</div>
					<a href="#" class="read-more">learn more <i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</div>
			<div class="col-lg-7">
				<form action="#" class="team-page-form wow fadeInUp delay-0-4s">
					<div class="row clearfix">
						<div class="col-sm-6">
							<div class="form-group">
								<input type="text" id="full-name" name="full-name" class="form-control" value="" placeholder="Full Name">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<input type="email" id="email" name="email" class="form-control" value="" placeholder="Email Address" required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<input type="text" id="number" name="number" class="form-control" value="" placeholder="Phone Number">
							</div>
						</div>
						<div class="col-sm-6 mb-30">
							<div class="form-group">
								<select name="services" id="services">
								   <option value="services">Services</option>
								   <option value="service1">Hair Cutting</option>
								   <option value="service2">Foot Massage</option>
								   <option value="service3">Nail Colors</option>
							   </select>
							</div>
						</div>
						<div class="col-xl-6 col-lg-12 col-md-6">
							<div class="form-group mb-0">
								<button type="submit" class="theme-btn w-100 style-six">Make appointment <i class="fas fa-long-arrow-alt-right"></i></button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<img src="{{ 'assets/images/shapes/team-conteact.png' | relative_url }}" alt="Circle" class="team-contact-circle">
</section>
<!-- Contact Section End -->