<!-- Project Section Start -->
<section class="project-section pt-170 rpt-110 pb-150 rpb-100">
	<div class="container">
		<div class="row align-items-end project-active">
			<div class="item col-md-4 col-sm-6">
				<div
					class="project-item mt-140 wow fadeInUp delay-0-2s"
				>
					<img src="{{ 'assets/images/projects/project-1.jpg' | relative_url }}" alt="Feature" />
					<div class="project-content">
						<h5>
							<a href="{{ '/portfolio-details' | relative_url }}"
								>Girls Face Beauty Treatments</a
							>
						</h5>
					</div>
				</div>
			</div>
			<div class="item col-md-4 col-sm-6">
				<div class="project-item wow fadeInUp delay-0-4s">
					<img src="{{ 'assets/images/projects/project-3.jpg' | relative_url }}" alt="Feature"/>
					<div class="project-content">
						<h5>
							<a href="{{ '/portfolio-details' | relative_url }}"
								>Girls Face Beauty Treatments</a
							>
						</h5>
					</div>
				</div>
			</div>
			<div class="item col-md-4 col-sm-6">
				<div
					class="project-item mt-75 ml-lg-auto wow fadeInUp delay-0-6s"
				>
					<img src="{{ 'assets/images/projects/project-5.jpg' | relative_url }}" alt="Feature"/>
					<div class="project-content">
						<h5>
							<a href="{{ '/portfolio-details' | relative_url }}" >Girls Face Beauty Treatments</a>
						</h5>
					</div>
				</div>
			</div>
			<div class="item col-md-4 col-sm-6">
				<div
					class="project-item mb-80 wow fadeInUp delay-0-2s"
				>
					<img src="{{ 'assets/images/projects/project-4.jpg' | relative_url }}" alt="Feature"/>
					<div class="project-content">
						<h5>
							<a href="{{ '/portfolio-details' | relative_url }}">Girls Face Beauty Treatments</a>
						</h5>
					</div>
				</div>
			</div>
			<div class="item col-md-4 col-sm-6">
				<div
					class="project-item ml-lg-auto wow fadeInUp delay-0-4s"
				>
					<img src="{{ 'assets/images/projects/project-6.jpg' | relative_url }}" alt="Feature"/>
					<div class="project-content">
						<h5>
							<a href="{{ '/portfolio-details' | relative_url }}">Girls Face Beauty Treatments</a>
						</h5>
					</div>
				</div>
			</div>
			<div class="item col-md-4 col-sm-6">
				<div class="project-item wow fadeInUp delay-0-6s">
					<img src="{{ 'assets/images/projects/project-2.jpg' | relative_url }}" alt="Feature"/>
					<div class="project-content">
						<h5>
							<a href="{{ '/portfolio-details' | relative_url }}">Girls Face Beauty Treatments</a>
						</h5>
					</div>
				</div>
			</div>
			<div class="item col-lg-12">
				<div class="project-btn text-center">
					<a href="portfolio.html" class="theme-btn">view more<i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Project Section End -->