<!-- Services Section Start -->
<section class="about-page pb-120 pt-110">
	<div class="container">
		<div class="row justify-content-center">
		   <div class="col-xl-7 col-lg-8 col-md-9">
			{% include section-title.html bg-text="Services" sub-title="Our Services" title="Popular Services We Provide For Customers" center="true" %}
		   </div>
	   </div>
	</div>
	<div class="category-section">
		<div class="category-item style-two wow fadeInUp delay-0-2s">
			<i class="flaticon-nail"></i>
			<div class="category-title">
				<span class="bg-text">Category</span>
				<h4><a href="{{ '/service-details' | relative_url }}">Nail Polish</a></h4>
			</div>
			<p>Quis autem velum reprender eoluptate velit esse</p>
			 <a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
		<div class="category-item style-two wow fadeInUp delay-0-4s">
			<i class="flaticon-eyebrow"></i>
			<div class="category-title">
				<span class="bg-text">Category</span>
				<h4><a href="{{ '/service-details' | relative_url }}">Brow Polish</a></h4>
			</div>
			<p>Quis autem velum reprender eoluptate velit esse</p>
			 <a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
		<div class="category-item style-two wow fadeInUp delay-0-6s">
			<i class="flaticon-hairdresser"></i>
			<div class="category-title">
				<span class="bg-text">Category</span>
				<h4><a href="{{ '/service-details' | relative_url }}">Hair Dresser</a></h4>
			</div>
			<p>Quis autem velum reprender eoluptate velit esse</p>
			 <a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
		<div class="category-item style-two wow fadeInUp delay-0-8s">
			<i class="flaticon-pedicure"></i>
			<div class="category-title">
				<span class="bg-text">Category</span>
				<h4><a href="{{ '/service-details' | relative_url }}">Foot Massage</a></h4>
			</div>
			<p>Quis autem velum reprender eoluptate velit esse</p>
			 <a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
		<div class="category-item style-two wow fadeInUp delay-1-0s">
			<i class="flaticon-cosmetics"></i>
			<div class="category-title">
				<span class="bg-text">Category</span>
				<h4><a href="{{ '/service-details' | relative_url }}">Cosmetics</a></h4>
			</div>
			<p>Quis autem velum reprender eoluptate velit esse</p>
			 <a href="{{ '/service-details' | relative_url }}" class="read-more">read more <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
	</div>
</section>
<!-- Services Section End -->