        <!-- About Section Start -->
        <section class="about-page-section rel z-2 pt-140 rpt-90">
            <div class="container">
                <div class="row mb-55">
                    <div class="col-lg-5">
                        <div class="about-page-content wow fadeInLeft delay-0-2s">
							{% include section-title.html bg-text="about" sub-title="Who We Are" title="Quality & Natural Beauty Salon" %}
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="about-page-right-text wow fadeInRight delay-0-2s">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperia eaque ipsa quae abillo inventore veritatis quasi architecto beatae vitae dicta sunt explicabo. Nemo enim quia voluptas sit aspernatur aut odit aut fugit sed consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt porro quisquam</p>
                            <p>Nemo enim quia voluptas sit aspernatur aut odit aut fugit sed consequuntur magni dolores ratione voluptatem sequi nesciunt quisquam</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-page-left mb-30 wow fadeInUp delay-0-2s">
                            <img src="{{'assets/images/about/about-page-left.jpg' | relative_url }}" alt="About">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-page-right-video mb-30 wow fadeInUp delay-0-4s">
                            <img src="{{'assets/images/about/about-page-right.jpg' | relative_url }}" alt="About">
                            <a href="https://www.youtube.com/watch?v=9Y7ma241N8k" class="mfp-iframe video-play"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section End -->