<!-- Popular Services Start -->
<section class="popular-services rel z-1 py-150 rpy-100">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="service-left rmb-55 wow fadeInLeft delay-0-2s">
					<img src="{{ 'assets/images/services/popular-service.jpg' | relative_url }}" alt="Services">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="popular-service-wrap wow fadeInRight delay-0-2s">
					<div class="section-title mb-50">
						<span class="bg-text">offers</span>
						<span class="sub-title">Popular Service</span>
						<h2>Beauty Treatments</h2>
					</div>
					<div class="row">
						<div class="col-xl-4 col-lg-6 col-sm-4 col-6 col-small">
							<a class="popular-service-item" href="{{ '/service-details' | relative_url }}">
								<i class="flaticon-relax"></i>
								<h5>Body Relax</h5>
							</a>
						</div>
						<div class="col-xl-4 col-lg-6 col-sm-4 col-6 col-small">
							<a class="popular-service-item" href="{{ '/service-details' | relative_url }}">
								<i class="flaticon-beauty"></i>
								<h5>Facials</h5>
							</a>
						</div>
						<div class="col-xl-4 col-lg-6 col-sm-4 col-6 col-small">
							<a class="popular-service-item" href="{{ '/service-details' | relative_url }}">
								<i class="flaticon-massage"></i>
								<h5>Massages</h5>
							</a>
						</div>
						<div class="col-xl-4 col-lg-6 col-sm-4 col-6 col-small">
							<a class="popular-service-item" href="{{ '/service-details' | relative_url }}">
								<i class="flaticon-cbd-oil"></i>
								<h5>Oil Therapy</h5>
							</a>
						</div>
						<div class="col-xl-4 col-lg-6 col-sm-4 col-6 col-small">
							<a class="popular-service-item" href="{{ '/service-details' | relative_url }}">
								<i class="flaticon-sauna"></i>
								<h5>Sauna</h5>
							</a>
						</div>
						<div class="col-xl-4 col-lg-6 col-sm-4 col-6 col-small">
							<a class="popular-service-item" href="{{ '/service-details' | relative_url }}">
								<i class="flaticon-hair-removal"></i>
								<h5>Cosmetology</h5>
							</a>
						</div>
					</div>
					<a href="booking.html" class="theme-btn mt-30">make appointment <i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</div>
		</div>
	</div>
	<img src="{{ 'assets/images/shapes/service-white-leaf.png' | relative_url }}" alt="Shape" class="white-leaf">
	<img src="{{ 'assets/images/shapes/service-color-leaf.png' | relative_url }}" alt="Shape" class="color-leaf">
	<img src="{{ 'assets/images/shapes/service-circle.png' | relative_url }}" alt="Shape" class="circle">
</section>
<!-- Popular Services End -->