<!-- Contact Form Start -->
<div class="contact-form-area py-150 rpy-100">
	<div class="container">
		<div class="contact-form-wrap wow fadeInUp delay-0-2s">
		   <div class="section-title mb-45 text-center">
			   <h2>Send  Us  Message</h2>
		   </div>
			<form action="#" class="contact-form">
				<div class="row clearfix justify-content-center">
					<div class="col-md-4">
						<div class="form-group">
						   <label for="name"><i class="far fa-user"></i></label>
							<input type="text" id="name" name="name" class="form-control" value="" placeholder="Full Name">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
						   <label for="email"><i class="far fa-envelope"></i></label>
							<input type="email" id="email" name="email" class="form-control" value="" placeholder="Email Us" required="">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" id="website" name="website" class="form-control" value="" placeholder="Website">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<textarea rows="5" class="form-control" placeholder="Write Message" required></textarea>
						</div>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-8">
						<div class="form-group mb-0">
							<button type="submit" class="theme-btn w-100 style-six">send  message <i class="fas fa-long-arrow-alt-right"></i></button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Contact Form End -->