<!-- Booking Section Start -->
<section class="booking-section pb-20">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-6">
				<div class="booking-item">
					<div class="booking-image wow fadeInUp delay-0-2s" style=" background-image: url({{ 'assets/images/booking/booking-left.jpg' | relative_url }}); "></div>
					<div class="booking-content wow fadeInUp delay-0-4s">
						<span class="bg-text">Booking</span>
						<h3>Working Hours</h3>
						<p>Quis autem vel eum repreh enderit voluptate velit esse quame molestiae consequatur veillum</p>
						<ul>
							<li>
								<i class="far fa-clock"></i>
								<div class="booking-info">
									<p>
										Mon to Fri: 7:30 am — 1:00
										am <br />Sat: 9:00 am — 1:00
										am <br />Sun: 9:00 am —
										11:30 pm
									</p>
									<a href="{{ '/booking' | relative_url }}" class="theme-btn">appointment<i class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="booking-item">
					<div class="booking-image wow fadeInUp delay-0-6s" style="background-image: url({{ 'assets/images/booking/booking-right.jpg' | relative_url }});"></div>
					<div class="booking-content wow fadeInUp delay-0-8s">
						<span class="bg-text">address</span>
						<h3>Contact us</h3>
						<p>Quis autem vel eum repreh enderit voluptate velit esse quame molestiae consequatur veillum</p>
						<ul>
							<li>
								<i class="far fa-clock"></i>
								<div class="booking-info">
									<h5>Location</h5>
									<p>
										523 Main Street, 2nd Floor,
										New York City
									</p>
								</div>
							</li>
							<li>
								<i class="far fa-clock"></i>
								<div class="booking-info">
									<h5>Hotline</h5>
									<p>Call : +012 (345) 6789</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Booking Section End -->