<!-- Team Section Start -->
<section class="team-section text-center pt-140 rpt-90 pb-90 rpb-40">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-7 col-md-9 col-sm-11">
				{% include section-title.html bg-text="Teams" sub-title="Expert Team Member" title="Meet Our Professional Team Members" %}
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-sm-6">
				<div class="team-member wow fadeInUp delay-0-2s">
					<img src="{{ 'assets/images/teams/team-member-1.jpg' | relative_url }}" alt="Team">
					<div class="member-description">
						<h5>Cammie N. Dunn</h5>
						<span class="designations">Senior Manager</span>
						<div class="social-style-three">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-linkedin-in"></i></a>
							<a href="#"><i class="fab fa-youtube"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="team-member wow fadeInUp delay-0-4s">
					<img src="{{ 'assets/images/teams/team-member-2.jpg' | relative_url }}" alt="Team">
					<div class="member-description">
						<h5>Richard C. Shillings</h5>
						<span class="designations">Senior Manager</span>
						<div class="social-style-three">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-linkedin-in"></i></a>
							<a href="#"><i class="fab fa-youtube"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="team-member wow fadeInUp delay-0-6s">
					<img src="{{ 'assets/images/teams/team-member-3.jpg' | relative_url }}" alt="Team">
					<div class="member-description">
						<h5>Teresa E. George</h5>
						<span class="designations">Senior Manager</span>
						<div class="social-style-three">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-linkedin-in"></i></a>
							<a href="#"><i class="fab fa-youtube"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="team-member wow fadeInUp delay-0-8s">
					<img src="{{ 'assets/images/teams/team-member-4.jpg' | relative_url }}" alt="Team">
					<div class="member-description">
						<h5>Jeanie L. Williams</h5>
						<span class="designations">Senior Manager</span>
						<div class="social-style-three">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-linkedin-in"></i></a>
							<a href="#"><i class="fab fa-youtube"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="team-member wow fadeInUp delay-1-0s">
					<img src="{{ 'assets/images/teams/team-member-5.jpg' | relative_url }}" alt="Team">
					<div class="member-description">
						<h5>Elizabeth E. Baker</h5>
						<span class="designations">Senior Manager</span>
						<div class="social-style-three">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-linkedin-in"></i></a>
							<a href="#"><i class="fab fa-youtube"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="team-member wow fadeInUp delay-1-2s">
					<img src="{{ 'assets/images/teams/team-member-6.jpg' | relative_url }}" alt="Team">
					<div class="member-description">
						<h5>Darren P. Abdullah</h5>
						<span class="designations">Senior Manager</span>
						<div class="social-style-three">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-linkedin-in"></i></a>
							<a href="#"><i class="fab fa-youtube"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Team Section End -->