<!-- Offer Section Start -->
<section class="offer-section text-center rel z-1 pt-140 rpt-90 pb-120 rpb-70">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-8 col-lg-9 col-md-10">
				{% include section-title.html bg-text="Offer" sub-title="What We Offer" title="Quality & Natural Spa Salon" %}
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-xl-2 col-lg-3 col-sm-4 col-6 col-small">
				<a class="offer-item wow fadeInUp delay-0-2s" href="{{ '/service-details' | relative_url }}">
					<i class="flaticon-relax"></i>
					<h5>Body Relax</h5>
				</a>
			</div>
			<div class="col-xl-2 col-lg-3 col-sm-4 col-6 col-small">
				<a class="offer-item wow fadeInUp delay-0-4s" href="{{ '/service-details' | relative_url }}">
					<i class="flaticon-beauty"></i>
					<h5>Facials</h5>
				</a>
			</div>
			<div class="col-xl-2 col-lg-3 col-sm-4 col-6 col-small">
				<a class="offer-item wow fadeInUp delay-0-6s" href="{{ '/service-details' | relative_url }}">
					<i class="flaticon-massage"></i>
					<h5>Massages</h5>
				</a>
			</div>
			<div class="col-xl-2 col-lg-3 col-sm-4 col-6 col-small">
				<a class="offer-item wow fadeInUp delay-0-8s" href="{{ '/service-details' | relative_url }}">
					<i class="flaticon-cbd-oil"></i>
					<h5>Oil Therapy</h5>
				</a>
			</div>
			<div class="col-xl-2 col-lg-3 col-sm-4 col-6 col-small">
				<a class="offer-item wow fadeInUp delay-1-0s" href="{{ '/service-details' | relative_url }}">
					<i class="flaticon-spa-1"></i>
					<h5>Sauna</h5>
				</a>
			</div>
			<div class="col-xl-2 col-lg-3 col-sm-4 col-6 col-small">
				<a class="offer-item wow fadeInUp delay-1-2s" href="{{ '/service-details' | relative_url }}">
					<i class="flaticon-hair-removal"></i>
					<h5>Cosmetology</h5>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- Offer Section End -->