<!-- Hero Section Start -->
<section class="hero-section rel z-1 bg-butter">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-8 col-sm-10">
				<div class="hero-content mt-200 mb-220">
					<span class="bg-text">Beauty</span>
					<h1 class="wow fadeInUp delay-0-2s">
						Natural Beaulty spa salon
					</h1>
					<div class="hero-btn mt-30 wow fadeInUp delay-0-4s">
						<a href="{{ '/about-us' | relative_url }}" class="theme-btn">Learn more<i class="fas fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-right-image" style=" background-image: url({{ 'assets/images/hero/hero-right.jpg' | relative_url }});"></div>
</section>
<!-- Hero Section End -->