<!-- Booking Hours Section Start -->
<section class="booking-hours-area bg-light-gray rel z-1">
	<div class="booking-hour-image" style="background-image: url({{ 'assets/images/booking/booking-page.jpg' | relative_url }}); background-size: cover;"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6">
				<div class="booking-hours-content py-150 rpt-0 rpb-100 wow fadeInLeft delay-0-2s">
					{% include section-title.html bg-text="menus" sub-title="Hair Salon" title="Working Hours" %}
					<p>Sed ut perspiciatis unde omnis iste natus voluptatem accusantium doloremque laudantium totam aperiame eaque quae abillo inventore veritatis</p>
					<ul class="booking-hours py-20 wow fadeInRight delay-0-2s">
					   <li><span class="date">Mon to Friday</span> <span class="symbol">:</span> <span class="time">7:30 am — 1:00 am</span></li>
					   <li><span class="date">Satuaday</span> <span class="symbol">:</span> <span class="time">7:30 am — 1:00 am</span></li>
					   <li><span class="date">Wednesday</span> <span class="symbol">:</span> <span class="time">7:30 am — 1:00 am</span></li>
				   </ul>
					<a href="{{ '/booking' | relative_url }}" class="theme-btn style-two">booking now <i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="booking-circle">
		<img src="{{ 'assets/images/shapes/booking-circle.png' | relative_url }}" alt="Circle">
	</div>
	<div class="booking-bg-icon">
		<i class="flaticon-hair-iron"></i>
	</div>
</section>
<!-- Booking Hours Section End -->