<div class="service-sidebar rmt-55">
	<div class="widget category-widget wow fadeInUp delay-0-2s">
		<h5 class="widget-title">Services Category</h5>
		<ul>
			<li><a href="#">Hair Cutting & Colors <span class="fas fa-long-arrow-alt-right"></span></a></li>
			<li><a href="#">Body Treatments <span class="fas fa-long-arrow-alt-right"></span></a></li>
			<li><a href="#">Brow & Nail Polish <span class="fas fa-long-arrow-alt-right"></span></a></li>
			<li><a href="#">Spa & Body Treatments <span class="fas fa-long-arrow-alt-right"></span></a></li>
			<li><a href="#">Foot Massage <span class="fas fa-long-arrow-alt-right"></span></a></li>
			<li><a href="#">Nail Colors & Fitting <span class="fas fa-long-arrow-alt-right"></span></a></li>
		</ul>
   </div>
	<div class="widget form-widget wow fadeInUp delay-0-2s">
		<h5 class="widget-title">Make Appointment</h5>
		<form action="#">
		   <div class="form-group">
				<label for="name"><i class="far fa-user"></i></label>
			   <input type="text" id="name" placeholder="Full Name" required>
		   </div>
		   <div class="form-group">
				<label for="email"><i class="far fa-envelope"></i></label>
			   <input type="email" id="email" placeholder="Email Address" required>
		   </div>
		   <div class="form-group">
			   <select name="services" id="services">
				   <option value="services">Services</option>
				   <option value="service1">Hair Cutting</option>
				   <option value="service2">Foot Massage</option>
				   <option value="service3">Nail Colors</option>
			   </select>
		   </div>
		   <div class="form-group">
			   <textarea rows="4" id="message" placeholder="Message" required></textarea>
		   </div>
		   <button type="submit" class="theme-btn style-six">appointment <i class="fas fa-long-arrow-alt-right"></i></button>
		</form>
   </div>
	<div class="widget product-add-widget wow fadeInUp delay-0-2s">
		<div class="product-add-content text-white">
			<h3>Need Beauty & Spa Products</h3>
			<p>Quis autem vel eum reprehe nderit quin voluptate</p>
			<a href="#" class="theme-btn style-two">shop now <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
   </div>
</div>