<!-- Page Banner Start -->
{% if page.image %}
{% assign title-bg = page.image %}
{% else %}
{% assign title-bg = 'assets/images/banners/page-banner.jpg' %}
{% endif %}

<section class="page-banner text-white py-165 rpy-130" style="background-image: url({{ title-bg | relative_url }});">
	<div class="container">
		<div class="banner-inner {% if page.banner-text-center %}text-center{% endif %}">
			<span class="bg-text">Blog</span>
			<h1 class="page-title wow fadeInUp delay-0-2s">{{ page.title }}</h1>
		</div>
	</div>
</section>
<!-- Page Banner End -->