{% assign faqs =  site.data.faq-data.faqs %}

<div class="faq-accordion {{ include.extra-class }}">
	{% for faq in faqs %}
	<div class="card">
		<a class="collapsed card-header" id="heading-{{include.id}}-{{ forloop.index }}" href="#" data-toggle="collapse" data-target="#collapse-{{include.id}}-{{ forloop.index }}" aria-expanded="false" aria-controls="collapse-{{include.id}}-{{ forloop.index }}">{{faq.question}}<i class="fas fa-chevron-down"></i>
		</a>
		<div id="collapse-{{include.id}}-{{ forloop.index }}" class="collapse" data-parent="#faq-accordion">
			<div class="card-body">
				<p>{{faq.answer}}</p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>